{% extends "base.html.twig" %}

{% block body %}
<h1>Read-once app</h1>

<p>ID: {{ message.id }}</p>
<p>Email: {{ message.email }}</p>
<p>Message: {{ message.message }}</p>
<p>Created At: {{ message.createdAt|date }}</p>
<p>Updated At: {{ message.updatedAt|date }}</p>
{% endblock %}